body {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 320px;
  height: 450px;
  margin: 0 auto;
  background-color: #faf8ef;
}
header {
  width: 280px;
  height: 55px;
  margin: 10px auto;
  text-align: center;
  h1 {
    float: left;
    line-height: 55px;
    margin: 0;
    color: #776e65;
  }
  div {
    float: right;
    min-width: 55px;
    height: 55px;
    margin-left: 10px;
    background-color: #BBADA0;
    border-radius: 5px;
    h4 {
      margin: 2px 0 2px 0;
      color: #eee4da;
    }
    span {
      color: #fff;
      font-size: 20px;
      font-weight: 900;
    }
  }
}
main {
  width: 280px;
  height: 280px;
  box-sizing: border-box;
  margin: 20px auto;
  background-color: #BBADA0;
  border-radius: 5px;
  padding: 10px;
  overflow: hidden;
  .box {
    float: left;
    width: 57.5px;
    height: 57.5px;
    line-height: 57.5px;
    font-size: 30px;
    font-weight: 700;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #CDC1B4;
    color: #776E65;
    border-radius: 5px;
    text-align: center;
    &:nth-of-type(4n) {
      margin-right: 0;
    }
  }
  .b-2 {
    background-color: #EEE4DA;
  }
  .b-4 {
    background-color: #EDE0C8;
  }
  .b-8 {
    background-color: #F2B179;
    color: #fff;
  }
  .b-16 {
    background-color: #F59563;
    color: #fff;
  }
  .b-32 {
    background-color: #F67C5F;
    color: #fff;
  }
  .b-64 {
    background-color: #F65E3B;
    color: #fff;
  }
  .b-128 {
    background-color: #EDCF72;
    color: #fff;
    font-size: 25px;
  }
  .b-256{
    background-color: #EDCF72;
    color: #fff;
    font-size: 25px;
  }
  .b-512 {
    background-color: #EDCF72;
    color: #fff;
    font-size: 25px;
  }
  .b-1024 {
    background-color: #EDCF72;
    color: #fff;
    font-size: 20px;
  }
  .b-2048 {
    background-color: #EDCF72;
    color: #fff;
    font-size: 20px;
  }
}
footer {
  text-align: center;
  button {
    background-color: #BBADA0;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 15px;
    outline: none;
  }
}